.in-touch>:nth-child(1) {
  font-weight: bold;
  font-size: 48px;
  color: var(--black);
}

.in-touch>:nth-child(2) {
  color: var(--orange);
  font-weight: bold;
  font-size: 48px;
}



.user {
  width: 320px;
  height: 42px;
  padding: 5px;
  outline: none;
  border: 2px solid var(--orange);
  border-radius: 8px;
  font-size: 16px;
  color: black !important;
}

textarea {
  height: 96px !important;
  
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    .in-touch>:nth-child(1) {
      font-size: 24px;
    }
  
    .in-touch>:nth-child(2) {
      font-size: 24px;
    }

    .user {
      width: 280px;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .in-touch>:nth-child(1) {
      font-size: 34px;
    }
  
    .in-touch>:nth-child(2) {
      font-size: 34px;
    }
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .in-touch>:nth-child(1) {
      font-size: 34px;
    }
  
    .in-touch>:nth-child(2) {
      font-size: 34px;
    }
}


@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .in-touch>:nth-child(1) {
      font-size: 34px;
    }
  
    .in-touch>:nth-child(2) {
      font-size: 34px;
    }
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
    .in-touch>:nth-child(1) {
      font-size: 32px;
    }
  
    .in-touch>:nth-child(2) {
      font-size: 32px;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

  /* Styles */
  .in-touch>:nth-child(1) {
    font-size: 48px;
  }

  .in-touch>:nth-child(2) {
    font-size: 48px;
  }
}